/* .form__contacts{
    display:flex;
    align-items:center;
    flex-direction:column;
}
.title__contacts{
    display:inline-block;
}
label {
    display: inline-block;
    text-align: center;
}

input {
    margin: 3px;
    color: #0ff;
    padding: 3px;
} 
.form__button{
    display:inline-block;
    padding:5px;
    margin:10px;
    width:100px;
} */