.form__contacts{
    display:flex;
    align-items:center;
    flex-direction:column;
}
 .title__contacts{
     color:#0ff;
     letter-spacing:5px;
}
@media screen and (max-width:500px){
    
input{
    padding: 7px;
    margin:3px;
    color:#0ff;
    display:block;

}
 button{
     font-weight: bold;
     color:rgb(235, 235, 235);
     padding:10px;
     border:1px solid #0ff
 }

}