.form__contacts{
    display:flex;
    align-items:center;
    flex-direction:column;
    border-left: 1px solid #0ff;
}
 .title__contacts{
     color:#0ff;
     letter-spacing:5px;
}
@media screen and (max-width:500px){
    .form__contacts{
        border-left: none;
        border-bottom:1px solid #0ff;
    }
input{
    padding: 7px;
    margin:3px;
    color:#0ff;
    display:block;

}
 button{
     font-weight: bold;
     color:rgb(255, 255, 255);
     padding:10px;
     /* border:1px solid #0ff */
 }

}

