body {
  color:#ffff;
  background: #0f0f0f;
  padding:0px;
  margin:0px
}

.App {
  height:100vh
}

.navbar{
  display:flex;
  align-items: center;
  padding:3px;
  justify-content: space-between;
  color:#00ffff
}
.title__navbar{
  letter-spacing: 5px;
  text-transform:uppercase;
  
}
.navbar__menu{
  letter-spacing: 5px;
}
a{
  text-decoration: none;
  margin:7px;
  font-size: 17px;
  text-transform:uppercase;   
  color:#00ffff
}